---
import Hero from '@/components/hero.astro';
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.astro';
import Features from '@/components/features.astro';
import ForWho from '@/components/for-who.astro';
import AboutUs from '@/components/about-us.astro';
import When from '@/components/when.astro';
---

<Layout>
  <Header />
  <Hero />
  <div class='space-y-24 px-8 py-32'>
    <Features />
    <ForWho />
    <When />
    <AboutUs />
  </div>
</Layout>
