---
import Hero from '@/components/hero.astro';
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.astro';
import Features from '@/components/features.astro';
---

<Layout>
  <Header />
  <Hero />
  <div class='space-y-24 px-8 py-32'>
    <Features />
  </div>
</Layout>
