---
export type Props = {
  href: string;
  label: string;
  variant?: 'color' | 'outline';
};

const buttonColors = {
  color: 'bg-gradient-to-r from-brand to-brand-secondary',
  outline: 'bg-transparent border-2 border-brand hover:bg-brand',
};

const { href, label, variant = 'color' } = Astro.props;
---

<a href={href}>
  <button
    class=`rounded-full px-12 py-2 text-white transition-colors duration-150 ease-in-out ${buttonColors[variant]}`
    >{label}</button
  >
</a>
