---
export type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<div class='w-full space-y-8 md:w-2/3'>
  <h2 class='text-center text-2xl font-extrabold md:text-4xl lg:text-5xl'>
    {title}
  </h2>
  {
    description && (
      <p class='text-md px-8 text-center text-text-muted'>{description}</p>
    )
  }
</div>
