---
import ContentHeader from './content-header.astro';
export type Props = {
  id: string;
  title: string;
  description?: string;
  afterword?: string;
};

const { id, title, description, afterword } = Astro.props;
---

<section id={id} class='flex scroll-mt-24 flex-col items-center'>
  <div class='container space-y-16'>
    <div class='container flex flex-col items-center gap-4'>
      {title && <ContentHeader title={title} description={description} />}
    </div>
    <p class='container max-w-xl text-center text-2xl font-extrabold'>
      <slot name='lead' />
    </p>
    {
      afterword && (
        <p class='text-md container max-w-xl text-center'>{afterword}</p>
      )
    }
  </div>
</section>
