---
export type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<div class='w-full space-y-8 md:w-1/2'>
  <h1
    class='text-center text-2xl font-extrabold tracking-tight md:text-4xl lg:text-6xl'
  >
    {title}
  </h1>
  {
    description && (
      <p class='text-md text-text-muted px-8 text-center'>{description}</p>
    )
  }
</div>
