---
import ContentSection from './content-section.astro';
import Tile from './tile.astro';
import { goals } from '@/content/_goals';
---

<ContentSection
  id='features'
  title='Funkcjonalności'
  description='Przygotowaliśmy dla Ciebie funkcjolności, które sprawią że zarządzanie karierą stanie się łatwiejsze a Ty będziesz mógł skupić się na tworzeniu.'
>
  <Fragment slot='lead'>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-3'>
      {
        goals.map((goal) => (
          <Tile id={`goal-${goal.title}`} {...goal}>
            <Fragment slot='content'>
              <p class='text-sm'>{goal.description}</p>
            </Fragment>
          </Tile>
        ))
      }
    </div>
  </Fragment>
  <Fragment slot='afterword'>
    <p class='text-md text-center'>...i wiele innych 😏</p>
  </Fragment>
</ContentSection>
