---
import ContentSection from './content-section.astro';
import Tile from './tile.astro';
import { goals } from '@/content/_goals';
---

<ContentSection
  id='features'
  title='Funkcjonalności'
  description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget risus varius blandit sit amet non magna. Sed vitae diam eget risus varius blandit sit amet non magna.'
>
  <Fragment slot='lead'>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8'>
      {
        goals.map((goal) => (
          <Tile id={`goal-${goal.title}`} {...goal}>
            <Fragment slot='content'>
              <p class='text-sm'>{goal.description}</p>
            </Fragment>
          </Tile>
        ))
      }
    </div>
  </Fragment>
</ContentSection>
