---
import SocialLink from './social-link.astro';
---

<footer class='bg-background-dark w-full border-t border-transparent'>
  <div class='container grid place-items-center py-8'>
    <div class='flex space-x-8'>
      <SocialLink social='github' href='https://github.com/manage-band' />
      <SocialLink social='instagram' href='https://instagram.com/manage.band' />
    </div>
  </div>
</footer>
