---
import type { NavItem } from '@/types';

const navItems: Array<NavItem> = [
  { title: 'Funkcjonalności', url: '#features' },
  { title: 'Dla kogo', url: '#for-who' },
  { title: 'O nas', url: '#about-us' },
];
---

<header
  id='page-header'
  class='fixed top-0 z-20 flex w-full justify-center border-b border-transparent bg-background/80 px-8 py-8 text-white backdrop-blur-sm backdrop-filter'
>
  <div class='container flex h-[32px] items-center justify-between'>
    <a class='flex items-center gap-4' href='#'>
      <h1 class='sr-only'>Manage.Band</h1>
      <img src='favicon.png' alt='Manage.Band' height='24px' width='24px' />
      <h1 class='hidden text-2xl font-semibold sm:block'>
        <span>Manage.</span><span class='text-brand'>Band</span>
      </h1>
    </a>
    <nav class='hidden sm:block' id='main-navigation'>
      <ul class='flex items-center gap-8'>
        {
          navItems.map(({ title, url }) => (
            <li>
              <a class='text-md' href={url}>
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
