---
import Button from './button.astro';
import ManageBand from './manage-band.astro';
---

<header
  id='page-header'
  class='fixed top-0 z-20 flex w-full justify-center border-b border-transparent bg-background/30 px-8 py-8 text-white backdrop-blur-sm backdrop-filter'
>
  <div class='container flex h-[32px] items-center justify-between'>
    <a class='flex items-center gap-4' href='#'>
      <h2 class='sr-only'>Manage.Band</h2>
      <img src='favicon.svg' alt='Manage.Band' height='24px' width='24px' />
      <h2 class='hidden text-2xl font-black sm:block'>
        <ManageBand />
      </h2>
    </a>
    <Button href='#' label='Zapisz się' variant='outline' />
  </div>
</header>
