---
import ContentSection from './content-section.astro';
import Tile from './tile.astro';
import { goals } from '@/content/goals';
---

<ContentSection id='intro' title='Funkcjonalności'>
  <Fragment slot='lead'>
    <div class='grid lg:grid-cols-3 grid-cols-1 lg:gap-8 gap-4'>
      {
        goals.map((goal) => (
          <Tile id={`goal-${goal.title}`} {...goal}>
            <Fragment slot='content'>
              <p class='text-sm'>{goal.description}</p>
            </Fragment>
          </Tile>
        ))
      }
    </div>
  </Fragment>
</ContentSection>
