---
import { Icon } from 'astro-icon';

export type Props = {
  href: string;
  social: string;
};

const { href, social } = Astro.props;
---

<a href={href} aria-label={`Manage.Band ${social}`}>
  <Icon
    pack='mdi'
    name={social}
    class='hover:text-brand-tertiary h-12 w-12 cursor-pointer transition-colors duration-100'
  />
</a>
