---
import HeroBackground from './hero-background.astro';
const widths = [450, 800, 1200];
const sizes = '(min-width: 640px) 42vw, 67vw';
const help = '* pomożemy z resztą *';
---

<section class='relative h-full bg-background px-8'>
  <div id='splash-bg-fallback' class='absolute inset-0 hidden opacity-40'>
    <HeroBackground />
  </div>
  <div class='relative grid h-full place-items-center w-full'>
    <div class='w-full h-full'>
      <div
        class='sm:h-[calc(100%-177px)] h-[calc(100%-217px)] mt-[97px] w-full grid place-items-center space-y-16'
      >
        <div
          class='w-full lg:px-16 md:px-8 xl:9xl md:text-8xl sm:text-7xl text-6xl font-semibold'
        >
          <div class='hidden xl:flex xl:justify-center xl:items-center'>
            Skup się na muzyce
          </div>
          <div class='xl:hidden flex justify-start'>Skup się</div>
          <div class='xl:hidden flex justify-end'>na muzyce</div>
        </div>
      </div>
      <div
        class='sm:h-[80px] h-[120px] w-full flex sm:justify-between sm:space-y-0 space-y-4 flex-col sm:flex-row items-center'
      >
        <div>{help}</div>
        <button class='border rounded-full border-brandRed px-8 py-2'
          >Zobacz więcej</button
        >
      </div>
    </div>
  </div>
</section>
