---
import ContentSection from './content-section.astro';
---

<ContentSection title='Kiedy? Co? Jak?' id='when'>
  <Fragment slot='afterword'>
    <div>
      <p>
        Planujemy odda aplikacj do Waszych test贸w w <strong>2024 roku</strong
        >.
      </p>
      <p>Dostpne bd wersja webowa jak i aplikacja mobilna.</p>
      <p>
        Niebawem aplikacja pojawi si jako <strong>Open Source</strong> na
        naszym <a
          class='hover:text-brand font-bold transition-colors duration-150'
          href='https://github.com/manage-band'>Githubie</a
        >, zapraszamy wszystkich zainteresowanych - muzyk贸w, programist贸w,
        tester贸w - do wsp贸pracy 
      </p>
    </div>
  </Fragment>
</ContentSection>
