---
import { links } from '@/content/_links';
---

<section id='when' class='container relative h-full scroll-mt-24'>
  <div class='relative rounded-3xl border border-transparent'>
    <div
      id='when-image'
      class={`absolute inset-0 bg-[url("/when.png")] bg-cover bg-center bg-no-repeat rounded-3xl`}
    >
    </div>
    <div
      class='relative grid w-full place-items-center space-y-8 rounded-3xl bg-transparent px-8 py-16'
    >
      <h2 class='text-center'>Kiedy? Jak?</h2>
      <p class='text-center font-extralight lg:w-1/2'>
        Planujemy odda Wam aplikacj do test贸w w <strong>2024 roku</strong>.
        Niebawem pojawi si jako <strong>Open Source</strong> na naszym <a
          class='bg-gradient-to-r from-brand to-brand-secondary bg-[length:100%_2px] bg-bottom bg-no-repeat transition-[background-size] hover:bg-[length:100%_100%]'
          href={links.github}
          target='_blank'>GitHubie</a
        >, zapraszamy wszystkich zainteresowanych - muzyk贸w, programist贸w,
        tester贸w - do wsp贸pracy 
      </p>
    </div>
  </div>
</section>
