---
import ContentSection from './content-section.astro';
---

<ContentSection title='Kiedy? Co? Jak?' id='when'>
  <Fragment slot='afterword'>
    <div class='text-text-muted'>
      <p>
        Planujemy odda Wam aplikacj do test贸w w <strong>2024 roku</strong>.
      </p>
      <p>
        Niebawem pojawi si jako <strong>Open Source</strong> na naszym <a
          class='bg-gradient-to-r from-brand to-brand-secondary bg-[length:100%_2px] bg-bottom bg-no-repeat transition-[background-size] hover:bg-[length:100%_100%]'
          href='https://github.com/manage-band'>Githubie</a
        >, zapraszamy wszystkich zainteresowanych - muzyk贸w, programist贸w,
        tester贸w - do wsp贸pracy 
      </p>
    </div>
  </Fragment>
</ContentSection>
